/**
div {
  padding-top: 3%;
  padding-bottom: 3%;

  background-color: rgb(125, 229, 229);
  border-color: black;
  border-radius: 3%;
}
**/

* {
  text-align: left;
  padding-left: 3px;
}

#RPMmessage {
  color: rgb(199, 51, 51);
  font-style: italic;
}

#enter {
  background-color: #418ce2;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#enter:hover {
  background-color: rgb(40, 138, 230);
  color: rgb(80, 80, 80);
}

div {
  padding-top: 2%;
  padding-bottom: 2%;
}

input {
  width: 75px;
  border-radius: 10px;
  border-width: 3px;
  padding-left: 3px;
}

body {
  padding-top: 100px;
  background-color: rgb(249, 232, 210);
}

#title {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(107, 199, 230);
  padding: 1%;
}
